# exercise 1

In [0]:
user_input=input('What is your name? ')
print('hi, '+user_input)

What is your name?6
hi, 6

# exercise2

In [0]:
b = 12345 
a = str(b) 
type(a)

str

In [0]:
print(bool(''))
print(bool('abc'))
print(bool(1))
print(bool(0))
print(bool('0'))
print(bool('$#%@#$%'))

False
True
True
False
True
True

# exercise3

In [0]:
a=123.45
b='456.78'
a+b

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [0]:
a=123.45
b='456.78'
print(a+float(b))

580.23

# exercise4

In [0]:
sum=60+70+90
print('sum =', sum)
mean=sum/3
print('mean=',mean)

sum = 220
73.33333333333333

# exercise 5

In [0]:
a=0.1
b=0.1
print("a==b:",a==b)
print("a is b:",a is b)

a==b: True
a is b: False

# exercise 6

In [0]:
number=(1)
print("type(number):", type(number))
number=(1,)
print("type(number):", type(number))
number[0]=3

type(number): <class 'int'>
type(number): <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

# exercise7

In [0]:
student = {'name': 'Mary','age': 22, 'name': 'Peter'}
print(student['name'])
print(student)

220
73.33333333333333

# exercise8

In [0]:
number_in=input("Please enter a phone number:  ");
print("The input number is "+number_in)
first_digit="23569"
if len(number_in)==8 and (number_in[0] in first_digit):
    print("It is a valid number")
else:
    print("It is not a valid number")

Please enter a phone number:  111
The input number is 111
It is not a valid number

# exercise9

In [0]:
for i in range(11,26,2):
    print(i,end=' ')

11 13 15 17 19 21 23 25

# exercise10

In [0]:
number_in=input("Please enter a phone number:  ");
print("The input number is "+number_in)
first_digit="23569"
while len(number_in)!=8 or (number_in[0] not in first_digit):
    print("It is not a valid number")
    number_in=input("Please enter a phone number:  ");
print("It is a valid number")

Please enter a phone number:  111
The input number is 111
It is not a valid number
Please enter a phone number:  12345678
It is not a valid number
Please enter a phone number:  98199303
It is a valid number

# Classes and objects

In [0]:
class human():
  species = 'mammal'
  
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def sing(self, song):
    return "{} sing {}".format(self.name, song)
  
  def hi(self):
    return "hello world!"

In [0]:
carrie = human('Carrie', 40)

In [3]:
carrie.hi()

'hello world!'